configuration {
    modi: "window,drun,run,filebrowser";
    display-drun: "🔎";
    display-window: "Janelas";
    display-combi: "";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    terminal: "alacritty";
    disable-history: false;
}

@theme "~/.config/rofi/themes/light.rasi"
