configuration {
    modi: "drun,run,web:/home/denis/.config/fish/functions/rofi-search.fish";
    display-drun: "🔍️";
    display-window: "🪟​";
    display-filebrowser: "🗂️​";
    display-web: "🌐​";
    display-run: "🖥️";
    display-combi: "⭐️";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    terminal: "alacritty";
    disable-history: false;
    font: "FiraCode Nerd Font 12";
}
