configuration {
    font: "CommitMono Nerd Font 14";
    modi: "drun,web:/home/denis/.config/fish/functions/rofi-search.fish, run:/home/denis/.config/fish/functions/rofi-run.fish";
    display-drun: "";
    display-window: "🪟​";
    display-filebrowser: "🗂️​";
    display-web: "󰖟";
    display-run: "";
    display-combi: "";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    web-display-format: "{name}";
    disable-history: false;
    terminal: "alacritty";
}
