/* /home/denis/dotfiles/rofi/.config/rofi/themes/dark-theme.rasi */

* {
    bg0:               #151515;
    bg1:               #1e1e1e;
    fg0:               #e0e0e0;
    fg-dim:            #555555;
    placeholder-color: #444444;
    accent-color:      #ffffff;
    urgent-color:      #111111;
    entry-fg:          #ffffff;
    selected-fg:       #ffffff;
    border-color:      transparent;
}

@import "base-layout.rasi"
