/* /home/denis/dotfiles/rofi/.config/rofi/themes/light-theme.rasi */

* {
    bg0:               #fefefe;
    bg1:               #e0e0e0;
    fg0:               #555555;
    fg-dim:            #a0a0a0;
    placeholder-color: #b0b0b0;
    border-color:      transparent;
    accent-color:      #555555;
    urgent-color:      #ffffff;
    entry-fg:          inherit;
    selected-fg:       #000000;
}

@import "base-layout.rasi"
