/* /home/denis/dotfiles/rofi/.config/rofi/themes/mint-dark.rasi */

* {
    bg0:               #27272B;
    bg1:               #36363A;
    fg0:               #e0e0e0;
    fg-dim:            #5E5E60;
    placeholder-color: #454549;
    border-color:      transparent;
    accent-color:      #A9A9B1;
    urgent-color:      #111111;
    entry-fg:          #ffffff;
    selected-fg:       #ffffff;
}

@import "base-layout.rasi"
