/* ROFI SQUARED THEME USING THE EVERFOREST PALETTE  */
/* Author: Newman Sanchez (https://github.com/newmanls) */
* {
    font:   "Cascadia Code 13";
    bg0:     #2f2f2f;
    bg1:     #333333;
    fg0:     #9f9f9f;
    placeholder-color: #5f5f5f;
    border-color:     #5f5f5f;
    accent-color:     #ffffff;
    urgent-color:     #000000;
    background-color:   transparent;
    text-color:         @fg0;
    margin:     0;
    padding:    0;
    spacing:    0;
}
window {
    location:   center;
    width:      500;
    background-color:   @bg0;
}
inputbar {
    spacing:    10px;
    padding:    10px;
    background-color:   @bg1;
    border: 1px;
    border-color: @border-color;
}
prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}
prompt {
    text-color: @accent-color;
    enabled: true;
    text: "🔍";
}
textbox {
    padding:            8px;
    background-color:   @bg1;
}
listview {
    padding:    0px 0;
    lines:      8;
    columns:    1;
    fixed-height:   false;
}
entry {
	text-color: #ffffff;
    font:   inherit;
    placeholder         : "O que você está procurando?";
    placeholder-color   : @placeholder-color;
}
element {
    padding:    8px;
    spacing:    8px;
}
element normal normal {
    text-color: @fg0;
}
element normal urgent {
    text-color: @urgent-color;
}
element normal active {
    text-color: @accent-color;
}
element alternate active {
    text-color: @accent-color;
}
element selected {
    text-color: #ffffff;
    /* border: 1px; */
    /* border-color: @border-color; */
}
element selected normal, element selected active {
    background-color:   #4f4f4f;
}
element selected urgent {
    background-color:   @urgent-color;
}
element-icon {
    size:   1em;
}
element-text {
    text-color: inherit;
}
