* {
    font:   "Cascadia Code 13";
    bg0:     #ffffff;
    bg1:     #f0f0f0;
    fg0:     #555555;
    fg-dim:  #a0a0a0;
    placeholder-color: #a0a0a0;
    border-color:     transparent;
    accent-color:     #555555;
    urgent-color:     #ffffff;
    background-color:   transparent;
    text-color:         @fg0;
    margin:     0;
    padding:    0;
    spacing:    0;
    radius: 15px;
}
window {
    location:   center;
    width:      450;
    background-color:   @bg0;
    border-radius:      @radius;
    border: 1px;
    border-color:       #000000;
}
inputbar {
    spacing:    10px;
    padding:    15px;
    background-color:   #ffffff;
    border: 0px;
    border-radius:      @radius;
}
prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}
prompt {
    text-color: @accent-color;
    enabled: true;
    text: "🔍";
}
textbox {
    padding:            7px;
    background-color:   @bg1;
}
listview {
    fixed-height: false;
    dynamic: true;
    scrollbar: true;
    spacing: 0px;
    padding: 0px 0px 7px 7px;
    margin: 0px 0px 1px 0px;
    lines:6;
}
entry {
    text-color: #000000;
    font:   inherit;
    placeholder         : "O que está procurando hoje?";
    placeholder-color   : @placeholder-color;
}
element {
    padding:    9px 15px 9px 15px;
    spacing:    0px;
}
element normal normal {
    text-color: @fg-dim;
}
element normal urgent {
    text-color: @urgent-color;
}
element normal active {
    text-color: @accent-color;
}
element alternate normal {
    text-color: @fg-dim;
}
element alternate active {
    text-color: @accent-color;
}
element selected {
    padding:    7px 7px 7px 10px;
    text-color: #000000;
}
element selected normal, element selected active {
    background-color:   #e0e0e0;
    border: 1px;
    border-color:       #000000;
    border-radius:      @radius;
    text-color:         inherit;
}
element selected urgent {
    background-color:   @urgent-color;
}
element-icon {
    size:           1em;
    vertical-align: 0.5;
}
element-text {
    font:       "Cascadia Code 11.5";
    text-color: inherit;
    highlight:  bold;
}
