* {
    font:   "Cascadia Code 13";
    bg0:     #ffffff;
    bg1:     #f0f0f0;
    fg0:     #555555;
    placeholder-color: #a0a0a0;
    border-color:     transparent;
    accent-color:     #555555;
    urgent-color:     #ffffff;
    background-color:   transparent;
    text-color:         @fg0;
    margin:     0;
    padding:    0;
    spacing:    0;
}
window {
    location:   center;
    width:      500;
    background-color:   @bg0;
    border-radius:      10px;
}
inputbar {
    spacing:    10px;
    padding:    15px;
    background-color:   #ffffff;
    border: 1px;
    border-radius:      0px 10px 0px 0px;
    border-color:       #e0e0e0;
}
prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}
prompt {
    text-color: @accent-color;
    enabled: true;
    text: "🔍";
}
textbox {
    padding:            8px;
    background-color:   @bg1;
}
listview {
    padding:    0px 0;
    lines:      8;
    columns:    1;
    fixed-height:   false;
}
entry {
    text-color: #555555;
    font:   inherit;
    placeholder         : "O que procura?";
    placeholder-color   : @placeholder-color;
    horizontal-align: 0.0025; /* 0 = Esquerda, 0.5 = Centro, 1 = Direita */
    vertical-align: 0.5;   /* 0 = Topo, 0.5 = Centro, 1 = Base */
}
element {
    padding:    5px 10px 10px 15px;
    spacing:    2px;
}
element normal normal {
    text-color: @fg0;
}
element normal urgent {
    text-color: @urgent-color;
}
element normal active {
    text-color: @accent-color;
}
element alternate active {
    text-color: @accent-color;
}
element selected {
    text-color: #555555;
}
element selected normal, element selected active {
    background-color:   #f0f0f0;
    border-radius:      10px 10px 10px 0px;
}
element selected urgent {
    background-color:   @urgent-color;
}
element-icon {
    size:   1.2em;
}
element-text {
    text-color: inherit;
}
